name: Check for New Release enmeshed-backbone

on:
  schedule:
    - cron: "*/30 * * * *"

jobs:
  main:
    name: Create feature branch and Pull Request if new helm version is available
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install script dependencies
        run: npm install --prefix ./.ci

      - name: Set up Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Main
        run: ./.ci/main.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


