name: Check for New Release enmeshed-backbone

on:
  schedule:
    - cron: "0/3 * * * *"

jobs:
  check_for_release:
    runs-on: ubuntu-latest

    steps:
      - name: Check latest helm version
        id: latest-version
        run: >
          echo "VERSION=(gh api -H \"Accept: application/vnd.github+json\" -H \"X-GitHub-Api-Version: 2022-11-28\" https://api.github.com/repos/nmshd/backbone/releases | jq 'first(.[] | select(.tag_name | startswith("helm/"))).tag_name')" >> $GITHUB_OUTPUT
     
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Read content of chart-version.txt
        id: files
        run: echo "CHART_VERSION=$(cat chart-version.txt)" >> $GITHUB_OUTPUT


       
        # with:
        #   workflow: Check-for-Repo-B-Release
        #   token: ${{ secrets.REPO_A_TOKEN }}
