name: Check for New Release enmeshed-backbone

on: push
  # schedule:
  #   - cron: "*/3 * * * *"

jobs:
  fetch-versions:
    name: Fetch Helm versions
    runs-on: ubuntu-latest
    outputs:
      file_version: ${{ steps.files.outputs.CHART_VERSION }}
      PR_version: ${{ steps.pr.outputs.PR_VERSION }}
      backbone_helm_chart_version: ${{ steps.latest-version.outputs.VERSION }}
    steps:
      - name: Check latest helm version
        id: latest-version
        run: >
          echo "VERSION=$(gh api -H \"Accept: application/vnd.github+json\" -H \"X-GitHub-Api-Version: 2022-11-28\" https://api.github.com/repos/nmshd/backbone/releases | jq 'first(.[] | select(.tag_name | startswith("helm/"))).tag_name')" >> $GITHUB_OUTPUT

      - name: Check latest PR version
        id: pr
        run: >
          echo "VERSION=$(gh api -H \"Accept: application/vnd.github+json\" -H \"X-GitHub-Api-Version: 2022-11-28\" https://api.github.com/repos/$GITHUB_REPOSITORY/releases | jq 'first(.[] | select(.user.login=="nmshd").title' | grep -oEh "v[0-9]+.[0-9]+.[0-9]+$")" >> $GITHUB_OUTPUT
     
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Read content of chart-version.txt
        id: files
        run: echo "CHART_VERSION=$(cat chart-version.txt)" >> $GITHUB_OUTPUT

      - name: print values
        run: echo ${{ steps.latest-version.outputs.VERSION }}
       
        # with:
        #   workflow: Check-for-Repo-B-Release
        #   token: ${{ secrets.REPO_A_TOKEN }}
