name: Version each tag when created and deploy

on:
  push:
    tags: [dev, stage, prod, bird]

jobs:
  tag:
    name: Version tag
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ./.ci/node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('./.ci/package-lock.json') }}

      - name: Install script dependencies
        run: npm install --prefix ./.ci

      - name: Set up Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Main
        run: ./.ci/version-tags.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GIT_TAG: ${{ github.ref_name }}

  deploy:
    environment: ${{ github.ref_name }}
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/azure-cli
    name: Deploy to Azure
    needs: tag 
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup helm
        uses: azure/setup-helm@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: "v3.12.3" # this version is pinned because of a bug(?) in helm v3.13.0 that causes the deployment to fail with status code 403 (see https://github.com/js-soft/nmshd-bkb-env-tracker/actions/runs/6407007169/job/17417575013#step:6:80 for an example)

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
      
      # - name: Run Deployment
      #   run: bash ./deploy.sh
      #   env:
      #     TARGET_ENVIRONMENT: ${{ github.ref_name }}
      #     AZURE_RESOURCE_GROUP: ${{ vars.AZURE_RESOURCE_GROUP }}
      #     AZURE_AKS: ${{ vars.AZURE_AKS }}
      #     AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      #     AZURE_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      #     AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      #     AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

  gh-pages-update:
    runs-on: ubuntu-latest
    name: Update Github Pages
    needs: deploy 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PAT }}

      - name: Checkout gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages
          token: ${{ secrets.PAT }}

      - name: Set up Git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "GitHub Actions"

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ./.ci/node_modules
          key: ${{ runner.os }}-build-${{ hashFiles('./.ci/package-lock.json') }}

      - name: Install script dependencies
        run: npm install --prefix ./.ci

      - name: Update gh-pages
        run: ./.ci/update-gh-pages.ts
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          GIT_TAG: ${{ github.ref_name }}
          
      - name: Push gh-pages
        run: cd gh-pages && git push